.header{
    margin: 0;
    display: flex;
    align-items: center;
}

.headerTitle{
    background-color: rgb(253,239,220);
    width: 300px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    border:0;
}

.headerTitle:hover{
    background-color: rgb(253,205,131);
}


.headerImg{
    position: relative;
    width: 800px;
}

