.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingslabel{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settingslabel label{
   margin-bottom: 5px; 
   font-size:25px;
   color:rgba(0,0,0,0.5);
}

.settingslabel input{
    border:none; 
    border-bottom: 1px solid #999;
    font-size:25px;
}

.settingslabel input:focus{
    outline:none;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.settingspp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingspp img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.fileinput{
    margin:10px;
    font-size: 20px;
    cursor: pointer;
}

.settingstitle .settingsupdate{
    font-size: 30px;
    color:rgb(253,205,131);
}

.settingdelete{
    position: relative;
    left:100px;
    margin:10px;
    background-color: red;
    color:white;
    height:30px;
    border:none;
    border-radius: 15px;
}

::placeholder {
    color: 999;
  }

.settingssubmit{
    margin-top:20px;
    background-color: green;
    color:white;
    width: 200px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    border:none;
}






